.banner{
    width: 100%;
    height: 100vh;
    background-image: url(images/banner/banner3.png);
    
    background-size: cover;  
    background-position: center;
    margin-bottom: 30px;
   
    
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
    left: 23%;
    transform: translateY();
    text-align: center;
    
    color: white;
    
}
.content h2{
    font-size: 40px;

}
.content p{
    font-size: 10px;
}
.content button{
    
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid cyan;
    background: darkcyan;
    color: lightgreen;
    position: relative;
    cursor: pointer;
    
}

.hero{
    display: flex;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 20%;
}
.content-2{
  margin-left: 10%;
  font-family: sans-serif;
}
con
#img{
    margin-left: 20%;
}

.myplan h1{
    text-align: center;
    margin-right: 4%;
    margin-bottom: 5%;
}
.work{
    display: flex;
}

.element{
    margin-right: 10%;
    margin-left: 5%;
}
.shape{
    margin-left: 5%;
   
}
.footer{
    background-image: url(images/watch.png);
    width: 1000px;
    height: 250px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
    
}
.footer2{
   position: absolute;

}
.footer2 h1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-left: 10%;
}
.footer2 button{
    margin-left: 10%;
    
    width: 200px;
    padding: 15px 0;
    text-align: center;
    
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid cyan;
    background: darkcyan;
    color: lightgreen;
    position: relative;
    cursor: pointer;
}
.footer3{
    margin-top: 10%;
    display: flex;
    background-color:black;
    color: white;
    background-size: cover;
}
.footer4{
    margin-right: 20%;
    margin-left: 3%;
}
.footer5 button{
    margin-top: 10%;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid cyan;
    background: darkcyan;
    color: lightgreen;
    position: relative;
    cursor: pointer;
}
.footer5 h1,input{
    margin-left: 2%;
}
.footer5{
    margin-right: 3%;
}
